
.container {
    background-image: url('../image/alpha/fondalpha1.png');
}

.question {
    color: #3e3b3b;
    font-size: 45px;
    font-weight: bold;
    background-color: rgba(248, 249, 249, 0.648);
    border-radius: 15px;
    
}




