/* Container and general layout */
.container {
    background-image: url('../image/math/fake8.jpg');
    

}
.answers {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.answers input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

@keyframes lightning {
    0% {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
    }
    50% {
        opacity: 0;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100%;
    }
    100% {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
    }
}

.lightning-effect {
    animation: lightning 0.2s ease-in-out;
}