
.container {
    background-image: url('../image/math/fondmath2.png');
    background-position: bottom;
}
.answers {
    background-color: #f2f2f2; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex; 
    justify-content: space-between; 
    align-items: center; /* Centre les éléments verticalement */
}

.answers input[type="text"] {
    width: 70%; 
    padding: 10px; /* Espacement intérieur pour augmenter la zone de clic */
    border: 2px solid #ccc; /* Bordure subtile pour le champ de texte */
    border-radius: 4px; /* Bords arrondis pour le champ de texte */
}

.answers button {
    padding: 10px 20px; /* Espacement intérieur pour rendre le bouton plus cliquable */
    background-color: #4CAF50; /* Couleur de fond pour le bouton */
    color: white; /* Couleur du texte pour le bouton */
    border: none; /* Aucune bordure pour le bouton */
    border-radius: 4px; /* Bords arrondis pour le bouton */
    cursor: pointer; /* Change le curseur en une main lorsque vous survolez le bouton */
    transition: background-color 0.3s; /* Animation de fond lorsque le bouton est survolé ou cliqué */
}

.answers button:hover {
    background-color: #45a049; /* Changement de couleur lors du survol */
}

.answers input[type="text"]:focus {
    border-color: #4CAF50; /* Changement de la couleur de la bordure lorsque l'input est actif */
}
@media (min-width: 768px) {
    
    .container {
        background-size: contain; /* Ajuste la taille de l'image pour qu'elle soit entièrement visible sans découpage */
    }
    .answers {
        width: 50vw;  /* Largeur à 50% de la largeur de la fenêtre */
        height: auto; /* Hauteur automatique pour s'adapter au contenu */
        padding: 30px; /* Augmente le padding pour les écrans plus larges */
        border-radius: 12px; /* Augmente le rayon des bords pour les écrans plus larges */
    }

    .answers input[type="text"] {
        width: 70%;  /* Largeur de l'input à 70% du conteneur parent */
        height: auto; /* Hauteur automatique pour s'adapter au contenu */
        padding: 12px; /* Augmente le padding pour une zone de clic plus large */
        border-radius: 6px; /* Augmente le rayon des bords de l'input */
    }

    .answers button {
        width: 20%; /* Largeur du bouton à 20% du conteneur parent */
        height: auto; /* Hauteur automatique pour s'adapter au contenu */
        padding: 12px 24px; /* Augmente le padding du bouton */
        border-radius: 6px; /* Augmente le rayon des bords du bouton */
    }

    .companion img {
        width: 20vw;  /* Largeur de l'image à 20% de la largeur de la fenêtre */
        height: auto; /* Hauteur automatique pour maintenir les proportions */
    }

    .question {
        width: 70vw;  /* Largeur de la question à 70% de la largeur de la fenêtre */
        height: auto; /* Hauteur automatique pour s'adapter au contenu */
    }

    .bottom-card {
        width: 50vw;  /* Largeur de la carte du bas à 50% de la largeur de la fenêtre */
        height: auto; /* Hauteur automatique pour s'adapter au contenu */
    }
}


